<div class="bg-22 ">
  <div class="wx-1232 mx-auto ">
    <breadscrum></breadscrum>
    <category-name></category-name>
    <vin-simple-responsive-banner-component></vin-simple-responsive-banner-component>
    <list-promote1></list-promote1>
    <div class="mxt-12 flex-row flex-between_start ">
      <div class="wx-207 bg-67 pxt-4 ">
        <category-list-section></category-list-section>
        <product-refinement-component></product-refinement-component>
      </div>
      <div class="wx-1024 ">
        <div class="hx-48 bg-67 flex-row flex-between_center ">
          <arrangement-section></arrangement-section>
          <change-pages-fast-section></change-pages-fast-section>
        </div>
        <filter-section></filter-section>
        <product-grid></product-grid>
        <pagination></pagination>
      </div>
    </div>
  </div>
  


  <div>
    <div class="fulls-screen bg-67">
      <div class="wx-1232 mx-auto hx-120 flex-row flex-between_center">
        <div class="wx-296 hx-88 flex-row flex-start_center">
          <div class="wx-88 hx-88 flex-col flex-center_center " >
            <div class="wx-68 hx-68 bg-cover" style="background-image: url(https://i.ibb.co/pdsnT6w/Group-2.png)"></div>
          </div>
          <div class="wx-208">
            <h1 class="h4-md mxl-8">SẢN PHẨM CHẤT LƯỢNG</h1>
            <p class="h5-re mxt-8 mxl-8">Cam kết mang đến những sản phẩm hàng đầu.</p>
          </div>
        </div>
        <div class="wx-296 hx-88 flex-row flex-start_center">
          <div class="wx-88 hx-88 flex-col flex-center_center " >
            <div class="wx-68 hx-68 bg-cover" style="background-image: url(https://i.ibb.co/pdsnT6w/Group-2.png)"></div>
          </div>
          <div class="wx-208">
            <h1 class="h4-md mxl-8">GIAO HÀNG SIÊU TỐC</h1>
            <p class="h5-re mxt-8 mxl-8">Vận chuyển nhanh chóng, an toàn cho từng món hàng.</p>
          </div>
        </div>
        <div class="wx-296 hx-88 flex-row flex-start_center">
          <div class="wx-88 hx-88 flex-col flex-center_center " >
            <div class="wx-28 hx-88 bg-cover" style="background-image: url(https://i.ibb.co/1TG6b5y/Bitmap.png)"></div>
          </div>
          <div class="wx-208">
            <h1 class="h4-md mxl-8">DỊCH VỤ ĐẲNG CẤP</h1>
            <p class="h5-re mxt-8 mxl-8">Dịch vụ 5 sao, hậu mãi chuyên nghiệp</p>
          </div>
        </div>
        <div class="wx-296 hx-88 flex-row flex-start_center">
          <div class="wx-88 hx-88 flex-col flex-center_center " >
            <div class="wx-43 hx-88 bg-cover" style="background-image: url(https://i.ibb.co/WksYykM/Bitmap.png)"></div>
          </div>
          <div class="wx-208">
            <h1 class="h4-md mxl-8">NHÀ CUNG CẤP UY TÍN</h1>
            <p class="h5-re mxt-8 mxl-8">Kết nối những nhà cung cấp tin cẩn đến với mọi khách hàng</p>
          </div>
        </div>
      </div>
    </div> 

    <div class="wx-1232 mx-auto flex-row flex-between_start mxt-32 mxb-16">
      <span class="icon-adayroi-24px fsx-48 txt-color-5"></span>
      <div class="wx-144">
        <h1 class="h3-md">ADAYROI</h1>
        <ul class="h5-re mxt-18">
          <li>
            <span>Giới thiệu</span>
          </li>
          <li>
            <span>Tuyển dụng</span>
          </li>    
          <li>
            <span>Bán hàng cùng Adayroi</span>
          </li>
          <li>
            <span>Điều khoản & Điều kiện</span>
          </li>                         
          <li>
            <span>Quyền riêng tư</span>
          </li> 
          <li>
            <span>Liên hệ</span>
          </li>                    
        </ul>
      </div>
      <div class="wx-124">
        <h1 class="h3-md">TÀI KHOẢN</h1>
        <ul class="h5-re mxt-18">
          <li>
            <span>Quản lý tài khoản</span>
          </li>
          <li>
            <span>Giỏ hàng</span>
          </li>    
          <li>
            <span>Lịch sử đơn hàng</span>
          </li>
          <li>
            <span>Danh sách gift code</span>
          </li>                         
          <li>
            <span>VinID</span>
          </li> 
          <li>
            <span>Đăng xuất</span>
          </li>                    
        </ul>
      </div>    
      <div class="wx-265  ">
        <h1 class="h3-md">CHỦ ĐỀ HỖ TRỢ</h1>
        <ul class="wrap flex-row">
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Câu hỏi thường gặp</span>
            </button>
          </li>
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Thanh toán</span>
            </button>
          </li>   
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Tra cứu hóa đơn</span>
            </button>
          </li>    
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Giao hàng</span>
            </button>
          </li>       
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Tìm hiểu về VinID</span>
            </button>
          </li>     
          <li>
            <button class="radius-4_4_4_4 mxr-8 mxb-8 hx-32 bg-67 border-1_solid_20 flex-col flex-center_center pxl-16 pxr-16">
              <span class="h6-re">Đổi trả và Bảo hành</span>
            </button>
          </li>                                                 
        </ul>
      </div>  
      <div>
        <div class="flex-row flex-start_center">
          <span class="icon-vingroup-footer fsx-19 wx-133 hx-20"></span>
        </div>
        <ul class="mxt-18">
          <li>
            <span class="h6-re">
              Siêu thị VinMart
            </span>
          </li>          
          <li>
            <span class="h6-re">Bệnh viện Vinmec</span>
          </li>          
          <li>
            <span class="h6-re">Nghỉ dưỡng VinPearl</span>
          </li>          
          <li>
            <span class="h6-re">Điện máy VinPro</span>
          </li>          
          <li>
            <span class="h6-re"> Trường học Vinschool</span>
          </li>
          <li>
            <span class="h6-re">Xem thêm</span>
          </li>
        </ul>
      </div>
      <div class="wx-176 p-rel">
        <div class="p-abs topx-0 rightx-60 wx-48 hx-48 bg-65 radius-0_0_4_4 flex-col flex-center_center">
          <span class="icon-facebook-24px fsx-24 txt-color-67"></span>
        </div>
        <div class="p-abs topx-0 rightx-0 wx-48 hx-48 bg-13 radius-0_0_4_4 flex-col flex-center_center">
          <span class="icon-instagram-24px fsx-24 txt-color-67"></span>
        </div>   

        <h1 class="h3-md mxt-74">TẢI APP ADAYROI</h1>
        <div class="wx-176 hx-48 bg-contain mxt-12" style="background-image: url(https://i.ibb.co/nzqj5QY/App-Download-Appstore.png);"></div>
        <div class="wx-176 hx-48 bg-contain mxt-8" style="background-image: url(https://i.ibb.co/rswLPdR/App-Download-Play-Store.png);"></div>
      </div>
    </div>  

    <div class="fulls-screen hx-88 bg-67">
      <div class="wx-1232 mx-auto flex-row flex-start_center hx-100pc ">
        <div class="wx-110 hx-40 bg-contain" style="background-image: url(https://i.ibb.co/CBbdwnz/dathongbao.png);"></div>
        <div class="wx-110 hx-40 bg-contain mxl-24" style="background-image: url(https://i.ibb.co/dMXPhYQ/dadangky.png);"></div>
        <div class="wx-64 hx-64 bg-cover mxl-24" style="background-image: url(https://i.ibb.co/f4Bfqrx/image.png);"></div>
        <div class="wx-543 hx-54 text-align-left h7-re mxl-32">
          Mã số doanh nghiệp: 0104918404 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp lần đầu ngày 20/09/2010. Trụ sở chính: Số 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.© 2018 Bản quyền thuộc về Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp VinCommerce
        </div>
      </div>
    </div> 
  </div>
</div>