<div class="bg-22 ">
  <div class="wx-1232 mx-auto ">
    <breadscrum></breadscrum>
    <category-name></category-name>
    <vin-simple-responsive-banner-component></vin-simple-responsive-banner-component>
    <list-promote1></list-promote1>
    <div class="mxt-12 flex-row flex-between_start ">
      <div class="wx-207 bg-67 pxt-4 ">
        <category-list-section></category-list-section>
        <product-refinement-component></product-refinement-component>
      </div>
      <div class="wx-1024 ">
        <div class="hx-48 bg-67 flex-row flex-between_center ">
          <arrangement-section></arrangement-section>
          <change-pages-fast-section></change-pages-fast-section>
        </div>
        <filter-section></filter-section>
        <product-grid></product-grid>
        <pagination></pagination>
      </div>
    </div>
  </div>
</div>