    <ngx-slick-carousel 
      class="carousel effect-3 " 
      #slickModal="slick-carousel" 
      [config]="slideConfig">
      <div ngxSlickItem class="slide">
        <div class="hx-308 bg-cover " style="background-image: url(https://i.ibb.co/KNcFG6y/Banner-Full-Screen.png)"></div> 
      </div>
      <div ngxSlickItem class="slide">
        <div class="hx-308 bg-cover " style="background-image: url(https://i.ibb.co/KNcFG6y/Banner-Full-Screen.png)"></div> 
      </div>

      <div ngxSlickItem class="slide">
        <div class="hx-308 bg-cover " style="background-image: url(https://i.ibb.co/KNcFG6y/Banner-Full-Screen.png)"></div> 
      </div>
      <div ngxSlickItem class="slide">
        <div class="hx-308 bg-cover " style="background-image: url(https://i.ibb.co/KNcFG6y/Banner-Full-Screen.png)"></div> 
      </div>

      <div ngxSlickItem class="slide">
        <div class="hx-308 bg-cover " style="background-image: url(https://i.ibb.co/KNcFG6y/Banner-Full-Screen.png)"></div> 
      </div>
    </ngx-slick-carousel>