<ul class="hx-48 flex-row flex-start_center ">
  <li>
    <div class="flex-row flex-start_center txt-color-16 h6-re mxr-4 ">
      <span>Adayroi</span>
      <span class="icon-right-24px fsx-24 mxl-8 "></span>
    </div>
  </li>

  <li>
    <div class="flex-row flex-start_center txt-color-16 h6-re mxr-4 ">
      <span>Category 1</span>
      <span class="icon-right-24px fsx-24 mxl-8 "></span>
    </div>
  </li>      
  <li>
    <div class="flex-row flex-start_center txt-color-16 h6-re mxr-4 ">
      <span>Adayroi</span>
      <span class="icon-right-24px fsx-24 mxl-8 "></span>
    </div>
  </li>

  <li>
    <div class="flex-row flex-start_center txt-color-16 h6-re mxr-4 ">
      <span>Category 1</span>
    </div>
  </li>      
</ul>