
.hero-md {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
}

.h1-md {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.h2-md {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.h3-md {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.h4-md {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.h5-md {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.h6-md {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}

.h7-md {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}


.hero-re {
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
}
.h26-bo-36 {

    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
}

.h1-re {
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
}

.h1-bo {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
}


.h2-re {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.h2-bo {

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.h3-re {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

.h3-bo {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.h4-re {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}

.h4-bo {

    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
}

.h5-re {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}

.h5-bo {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}


.h8-bo {
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
}

.sale-tag {
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
}

.h6-re {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
}

.h6-bo {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
}

.h7-re {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.h7-bo {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

.h8-re {
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
}
