<div class="node-15">
	<div class="n15-1 bg-67 ">
		<ul class="hx-100pc flex-row flex-start_center shadow-0_0_16_0_0_0_2">
			<li class="hx-100pc">
				<div class="hx-100pc flex-col flex-center_center box-size-border_box effect-22">
					<span class="txt-color-5 n15-2 h4-re h4-res-320 e22-1">Mã Thẻ</span>
				</div>
			</li>
			<li class="hx-100pc">
				<div class="hx-100pc flex-col flex-center_center box-size-border_box ">
					<span class="n15-2 h4-re h4-res-320 e22-1">Nạp tiền</span>
				</div>
			</li>
			<li class="hx-100pc">
				<div class="hx-100pc flex-col flex-center_center box-size-border_box ">
					<span class="n15-2 h4-re h4-res-320 e22-1">Thẻ game</span>
				</div>
			</li>
			<li class="hx-100pc">
				<div class="hx-100pc flex-col flex-center_center box-size-border_box ">
					<span class="n15-2 h4-re h4-res-320 e22-1">3G/4G</span>
				</div>
			</li>		
		</ul>
	</div>

	<div class="bg-67 n15-3">
		<div class="n15-4">
			<h1 class="h6-md h6-res-320">Số điện thoại nhận mã</h1>
			<div class="n15-5 p-rel">
				<input type="text" placeholder="Nhập số điện thoại" class="wx-100pc n15-6 h5-re h5-res-320 box-size-border_box">
				<span class="icon-contact-book-24px n15-7 txt-color-17 p-abs"></span>
			</div>
		</div>

		<div class="n15-8">
			<h1 class="h6-md h6-res-320">Chọn nhà mạng</h1>
			<ul class="n15-9 flex-row flex-betbeen_start wrap">
				<li>
					<div class="n15-10 bg-cover" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
						
					</div>
				</li>
				<li>
					<div class="n15-10 bg-cover" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
						
					</div>
				</li>
				<li>
					<div class="n15-10 bg-cover" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
						
					</div>
				</li>
				<li>
					<div class="n15-10 bg-cover" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
						
					</div>
				</li>
				<li>
					<div class="n15-10 bg-cover" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>