<div class="mxt-16 hx-128 flex-row flex-wrap_between ">
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/PGT5s8n/Picture.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/cTk5DgY/Picture.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/v481zJY/Picture.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/g4BpfrP/Picture.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/wr0Ckz0/Image.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/QkZpwkV/Image.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/mqKCcxw/Picture.png)"></div>
  </div>
  <div class="wx-153 hx-128 bg-67 flex-col flex-center_center ">
    <div class="wx-104 hx-104 bg-cover " style="background-image: url(https://i.ibb.co/wK9kyHM/Picture.png)"></div>
  </div>
</div>