.node-10 {
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	top: 0px;
	left: 0px;

	.n10_1 {
		width: 100vw;
		bottom: 0px;
		transform: translateY(100vh);
		transition: transform 0.3s;
	}
	.n10_2 {
		height: calc(100vw * 16 / 360);
	}
	.n10_3 {
		width: calc(100vw * 64 / 360);
		height: calc(100vw * 4 / 360);
	}
	.n10_4 {
		height: calc(100vw * 48 / 360);
		padding-left: calc(100vw * 16 / 360);
		padding-right: calc(100vw * 12 / 360);
	}
	.n10_5 {
		width: calc(100vw * 24 / 360);
		height: calc(100vw * 24 / 360);

		span {
			font-size: calc(100vw * 16 / 360);
		}
	}
	.n10_6 {
		font-size: calc(100vw * 24 / 360);
	}
	.n10_7 {
		margin-left: calc(100vw * 12 / 360);
	}
	.n10_8 {
		transform: translateY(0px);
	}
	.n10_9 {}
	.n10_10 {}
	.n10_11 {}
	.n10_12 {}
	.n10_13 {}
	.n10_14 {}
	.n10_15 {}
	.n10_16 {}
	.n10_17 {}
	.n10_18 {}
	.n10_19 {}
	.n10_20 {}
}