.node-13 {
	.n13-1 {
		height: calc(100vw * 48 / 360);
		h1 {
			margin-left: calc(100vw * 16 / 360);
		}
		
	}

	.n13-2 {
		width: calc(100vw * 174 / 360);

	}

	.n13-3 {
		width: calc(100vw * 174 / 360);
		margin-bottom: calc(100vw * 4 / 360);
	}

	.n13-4 {
		padding-left: calc(100vw * 4 / 360);
		padding-right: calc(100vw * 4 / 360);
		margin-top: calc(100vw * 1 / 360);
	}

	.n13-5 {
		height: calc(100vw * 166 / 360);
	}

	.n13-6 {
		width: calc(100vw * 158 / 360);
		height: calc(100vw * 158 / 360);
	}

	.n13-7 {
		width: calc(100vw * 32 / 360);
		height: calc(100vw * 32 / 360);		
	}

	.n13-8 {
		width: calc(100vw * 174 / 360);
		height: calc(100vw * 29 / 360);			
	}

	.n13-9 {
		margin-top: calc(100vw * 4 / 360);
		padding-left: calc(100vw * 8 / 360);
		padding-right: calc(100vw * 8 / 360);		
		padding-bottom: calc(100vw * 8 / 360);		
	}

	.n13-10 {
		font-size: calc(100vw * 11 / 360);
		line-height: calc(100vw * 18 / 360);
		top: calc(100vw * 1 / 360);
	}

	.n13-11 {
		padding-left: calc(100vw * 4 / 360);
		padding-right: calc(100vw * 4 / 360);
		margin-left: calc(100vw * 4 / 360);
		height: calc(100vw * 14 / 360);

	}

	.n13-12 {
		font-size: calc(100vw * 16 / 360);
		margin-right: calc(100vw * 2 / 360);
	}

	.n13-13 {
		margin-top: calc(100vw * 2 / 360);
	}

	.n13-14 {
		margin-top: calc(100vw * 4 / 360);
	}

	.n13-15 {
		margin-left: calc(100vw * 4 / 360);
	}

	.n13-16 {
		height: calc(100vw * 20 / 360);
		margin-top: calc(100vw * 4 / 360);
	}

	.n13-17 {
		margin-left: calc(100vw * 4 / 360);
	}

	.n13-18 {
		height: calc(100vw * 48 / 360);
		margin-top: calc(100vw * 1 / 360);
	}

	.n13-19 {
		width: calc(100vw * 328 / 360);
		height: calc(100vw * 40 / 360);
	}
}