.node-15 {
	.n15-1 {
		padding-left: calc(100vw * 16 / 360);
		padding-right: calc(100vw * 16 / 360);
	}

	.n15-2 {
		padding-top: calc(100vw * 48 / 360);
	}

	.n15-3 {
		height: calc(100vw * 48 / 360);
	}

	.n15-4 {
		padding: calc(100vw  12 / 360) calc(100vw  12 / 360) calc(100vw  12 / 360) calc(100vw  12 / 360);
	}

	.n15-5 {
		border-bottom: calc(100vw * 2 / 360) solid $color-5;
	}

	.n15-6 {
		padding-top: calc(100vw * 12 / 360);
	}

	.n15-7 {
		margin-top: calc(100vw * 4 / 360);
		width: calc(100vw - 100vw * 32 / 360);

		li:nth-child(3n) {
			.n15-15 {
				margin-right: unset !important;
			}
		}
	}

	.n15-8 {
		height: calc(100vw * 40 / 360);
		border-radius: calc(100vw * 4 / 360); 
		border: calc(100vw * 1 / 360) solid $color-19;
		width: calc(100vw - 100vw * 32 / 360);
		padding-left: calc(100vw * 16 / 360);
	}

	.n15-9 {
		font-size: calc(100vw * 24 / 360);
		right: calc(100vw * 8 / 360);
		top: calc(100vw * 9 / 360);
	}

	.n15-10 {
		width: calc(100vw - 100vw * 32 / 360);
		margin-top: calc(100vw * 4 / 360);
		li:nth-child(3n) {
			.n15-15 {
				margin-right: unset !important;
			}
		}
	}

	.n15-11 {
		margin-top: calc(100vw * 12 / 360);
		padding-bottom: calc(100vw * 4 / 360);
	}

	.n15-12 {
		width: calc(100vw * 104 / 360);
		height: calc(100vw * 64 / 360);
		border-radius: calc(100vw * 4 / 360);
		border: calc(100vw * 1 / 360) solid $color-19;
	}

	.n15-13 {
		border: calc(100vw * 1 / 360) solid $color-5;
	}

	.n15-14 {
		right: calc(100vw * -1 / 360);
		font-size: calc(100vw * 20 / 360);
	}

	.n15-15 {
		margin-right: calc(100vw * 8 / 360);
		margin-bottom: calc(100vw * 8 / 360);
	}

	.n15-16 {
		display: inline-block;
	}

	.n15-17 {
		width: calc(100vw * 104 / 360);
		height: calc(100vw * 48 / 360);
		border-radius: calc(100vw * 4 / 360);
		border: calc(100vw * 1 / 360) solid $color-5;
	}

	.n15-18 {
		border: calc(100vw * 1 / 360) solid $color-19;		
	}

	.n15-19 {
		width: calc(100vw * 56 / 360);
		height: calc(100vw * 16 / 360);		
		border-radius: 0px 0px 0px calc(100vw * 4 / 360);
	}

	.n15-20 {
		margin-top: calc(100vw * 12 / 360);
		width: calc(100vw - 100vw * 32 / 360);
		position: relative;
		top: calc(100vw * 353 / 360);;
	}
	
	.n15-21 {
		height: calc(100vw * 40 / 360);	
	}

	.n15-22 {
		width: calc(100vw * 160 / 360);	
		height: calc(100vw * 40 / 360);	
		border-radius: calc(100vw * 4 / 360);
	}

	.n15-23 {
		position: fixed;
		width: 100vw;
		height: calc(100vw * 48 / 360);
		background: white;
		left: 0px;
		top: 0px;
		z-index: 4;
	}

	.n15-24 {
		font-size: calc(100vw * 24 / 360);
	}

	.n15-25 {
		margin-left: calc(100vw * 12 / 360);
	}

	.n15-26 {
		right: calc(100vw * 34 / 360);
		font-size: calc(100vw * 24 / 360);
	}
}