.node-8 {
	.n8_1 {
		width: 100vw;
		height: calc(100vw * 48 / 360);
		bottom: 0px;
	}
	.n8_2 {
		height: 100%;
		width: calc(100vw * 72 / 360);
	}
	.n8_3 {
		font-size: calc(100vw * 24 / 360);
		margin-top: calc(100vw * 2 / 360);
	}
	.n8_4 {
		font-size: calc(100vw * 12 / 360);
		margin-top: calc(100vw * 2 / 360);
	}
	.n8_5 {
		width: calc(100vw * 92 / 360);
		height: calc(100vh - 100vw * 48 / 360);
		overflow-y: auto;
	}
	.n8_6 {
		font-size: calc(100vw * 24 / 360);

	}
	.n8_7 {
		margin-top: calc(100vw * 4 / 360);
		padding-left: calc(100vw * 4 / 360);
		padding-right: calc(100vw * 4 / 360);
	}
	.n8_8 {
		padding-top: calc(100vw * 6 / 360);
		padding-bottom: calc(100vw * 6 / 360);
	}
	.n8_9 {
		width: calc(100vw - 100vw * 92 / 360);
	}
	.n8_10 {
		width: calc(100vw * 83 / 360);
		height: calc(100vw * 111 / 360);
		margin-right: calc(100vw * 1 / 360);
		margin-bottom: calc(100vw * 1 / 360);
	}
	.n8_11 {
		margin-top: calc(100vw * 4 / 360);
		width: calc(100vw * 64 / 360);
		height: calc(100vw * 64 / 360);		
	}
	.n8_12 {
		margin-top: calc(100vw * 4 / 360);
		padding-left: calc(100vw * 8 / 360);
		padding-right: calc(100vw * 8 / 360);
	}
	.n8_13 {
		margin-top: calc(100vw * 9 / 360);
		margin-left: calc(100vw * 9 / 360);
	}
	.n8_14 {
		width: calc(100vw * 252 / 360);
		height: calc(100vw * 88 / 360);	
		margin-top: calc(100vw * 9 / 360);
	}
	.n8_15 {
		width: calc(100vw * 252 / 360);
		margin-top: calc(100vw * 8 / 360);
	}
	.n8_16 {
		height: calc(100vw * 32 / 360);
		padding-left: calc(100vw * 12 / 360);	
	}
	.n8_17 {
		margin-top: calc(100vw * 1 / 360);
		
	}
	.n8_18 {
		width: calc(100vw * 83 / 360);
		height: calc(100vw * 84 / 360);
		margin-bottom: calc(100vw * 1 / 360);
	}
	.n8_19 {
		width: calc(100vw * 64 / 360);
		height: calc(100vw * 64 / 360);
	}
	.n8_20 {}
	.n8_21 {}
	.n8_22 {}
	.n8_23 {}
	.n8_24 {}
	.n8_25 {}
}