.node-15 {
	.n15-1 {
		height: calc(100vw * 48 / 360);
		overflow-y: auto; 
	}

	.n15-2 {
		padding-left: calc(100vw * 12 / 360);
		padding-right: calc(100vw * 12 / 360);
	}

	.n15-3 {
		padding-left: calc(100vw * 16 / 360);
		padding-right: calc(100vw * 16 / 360);		
	}

	.n15-4 {
		padding-top: calc(100vw * 12 / 360);
	}

	.n15-5 {
		margin-top: calc(100vw * 4 / 360);
	}

	.n15-6 {
		padding-left: calc(100vw * 16 / 360);
		height: calc(100vw * 40 / 360);
		border: calc(100vw * 1 / 360) solid $color-19;
		border-radius: calc(100vw * 4 / 360);
	}

	.n15-7 {
		font-size: calc(100vw * 24 / 360);
		right: calc(100vw * 12 / 360);
		top: calc(100vw * 8 / 360);
	}

	.n15-8 {
		margin-top: calc(100vw * 12 / 360);	
	}

	.n15-9 {
		margin-top: calc(100vw * 4 / 360);
		
		li:nth-child(3n+3) {
			.n15-10 {
				margin-right: 0px;
			}
		}	
	}

	.n15-10 {
		margin-right: calc(100vw * 8 / 360);
		width: calc(100vw * 104 / 360);
		height: calc(100vw * 64 / 360);
		border: calc(100vw * 1 / 360) solid $color-20;
		border-radius: calc(100vw * 4 / 360);
	}
}