.node-11 {
	.n11-1 {
		overflow-y: auto;
	}

	.n11-2 {
		width: calc(100vw * 112 / 360);
		height: calc(100vw * 24 / 360);		
	}

	.n11-3 {
		height: calc(100vw * 48 / 360);	
		margin-left: calc(100vw * 16 / 360);	
	}

	.n11-4 {
		width: calc(100vw * 24 / 360);
		height: calc(100vw * 24 / 360);		
		margin-right: calc(100vw * 6 / 360);

		span {
			font-size: calc(100vw * 14 / 360);	
			line-height: calc(100vw * 22 / 360);	
		}
	}

	.n11-5 {
		margin-right: calc(100vw * 12 / 360);	
	}

	.n11-6 {
		margin-right: calc(100vw * 4 / 360);	
	}

	.n11-7 {
		font-size: calc(100vw * 24 / 360);	
	}

	.n11-8 {
		width: calc(100vw * 152 / 360);
		height: calc(100vw * 214 / 360);	
	}

	.n11-9 {
		height: calc(100vw * 136 / 360);	
	}

	.n11-10 {
		width: calc(100vw * 128 / 360);
		height: calc(100vw * 128 / 360);			
	}

	.n11-11 {
		width: calc(100vw * 32 / 360);
		height: calc(100vw * 32 / 360);			
		top: calc(100vw * 8 / 360);			
		left: calc(100vw * 8 / 360);			
	}


	.n11-12 {
		width: calc(100vw * 32 / 360);
		height: calc(100vw * 32 / 360);			
		top: calc(100vw * 8 / 360);			
		right: calc(100vw * 8 / 360);			
	}

	.n11-13 {
		width: calc(100vw * 136 / 360);
		height: calc(100vw * 25 / 360);			
		left: calc(100vw * 8 / 360);			
	}

	.n11-14 {
		margin-top: calc(100vw * 4 / 360);
	}

	.n11-15 {
		width: calc(100vw * 136 / 360);
		height: calc(100vw * 16 / 360);	
	}

	.n11-16 {
		width: calc(100vw * 119 / 360);
	}

	.n11-17 {
		
	}
}