.h7-re-res-320 {
	font-size: calc(100vw * 12 / 360);
	line-height: calc(100vw * 18 / 360);
}

.h6-res-320 {
	font-size: calc(100vw * 13 / 360);
	line-height: calc(100vw * 20 / 360);
}

.h4-res-320 {
	font-size: calc(100vw * 15 / 360);
	line-height: calc(100vw * 24 / 360);	
}

.h5-res-320 {
	font-size: calc(100vw * 14 / 360);
	line-height: calc(100vw * 22 / 360);	
}