
<div class="overflow-hidden">
	
	<div>
		<div class="node-7 flex-col flex-center_center ">
			<div class="n7-1 bg-cover " style="background-image: url(https://i.ibb.co/NYb00H0/search-error-176px.png);"></div>
			<h1 class="h5-re n7-2 text-align-center ">Hiện tại chưa có sản phẩm nào trong ngành hàng này</h1>
			<button class="n7-3 bg-67 flex-col flex-center_center radius-4_4_4_4 " (click)="openModalTools()">
				<span class="h5-bo">Danh mục ngành hàng</span>
			</button>
		</div>
	</div>

	<div class="mxt-8 ">
		<div class="node1">
		    <ngx-slick-carousel 
		      class="carousel effect-12 " 
		      #slickModal="slick-carousel" 
		      [config]="slideConfig">
		      <div ngxSlickItem class="slide">
		        <div class="bg-cover e12-1 " style="background-image: url(https://i.ibb.co/c6SYbTL/Banner-Full-Screen.png)"></div> 
		      </div>
		      <div ngxSlickItem class="slide">
		        <div class="bg-cover e12-1 " style="background-image: url(https://i.ibb.co/c6SYbTL/Banner-Full-Screen.png)"></div> 
		      </div>
		      <div ngxSlickItem class="slide">
		        <div class="bg-cover e12-1 " style="background-image: url(https://i.ibb.co/c6SYbTL/Banner-Full-Screen.png)"></div> 
		      </div>
		      <div ngxSlickItem class="slide">
		        <div class="bg-cover e12-1 " style="background-image: url(https://i.ibb.co/c6SYbTL/Banner-Full-Screen.png)"></div> 
		      </div>
		    </ngx-slick-carousel>		
		</div>		
	</div>

	<div class="mxt-8 ">
		<ul class="node2 flex-row flex-start_center ">
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/5hSf0ZS/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/5hSf0ZS/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>
			<li class="hx-100pc ">
				<div class="n2-1 hx-100pc flex-col flex-center_center bg-67 mxr-1 ">
					<div class="n2-2 bg-cover " style="background-image: url(https://i.ibb.co/30SwGf5/Image.png);"></div>
				</div>
			</li>					
		</ul>		
	</div>

	<div class="mxt-8 ">
		<div class="node-3 bg-67 ">
			<div class="n3-1 flex-row flex-between_center ">
				<span class="n3-2 h4-md effect-13 ">Mã giảm giá cho bạn</span>
				<div class="flex-row flex-end_center effect-14 ">
					<span class="h6-re n3-3 ">Xem tất cả</span>
					<span class="icon-right-24px fsx-24 txt-color-17 n3-4 "></span>
				</div>
			</div>

			<div class="n3-5 ">
				<ul class="effect-13 flex-row flex-start_center ">
					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-1000.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-200.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-1000.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-200.000đ
								</span>								
							</div>
						</div>
					</li>
					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-1000.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-200.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-1000.000đ
								</span>								
							</div>
						</div>
					</li>

					<li>
						<div class="n3-6 bg-6 radius-4_4_4_4 ">
							<div class="n3-7 flex-col flex-center_center ">
								<span class="txt-color-67 h6-md n3-9 ">
									Nhập: SALE100K
								</span>
							</div>
							<div class="n3-8 flex-col flex-center_center ">
								<span class="txt-color-67 h3-bo n3-10 ">
									-200.000đ
								</span>								
							</div>
						</div>
					</li>
				</ul>				
			</div>


		</div>
	</div>

	<div class="mxt-8 ">
		<div class="node-4  ">
			<div class="n4-1 flex-row flex-between_center bg-67 ">
				<span class="n4-2 h4-md effect-13 ">Danh mục sản phẩm</span>
				<div class="flex-row flex-end_center effect-14 ">
					<span class="h6-re n4-3 ">Xem tất cả</span>
					<span class="icon-right-24px fsx-24 txt-color-17 n4-4 "></span>
				</div>
			</div>
			
			<div class="n4-5 mxt-1 bg-67 flex-row flex-start_center ">
				<ul class="effect-13 flex-row flex-start_center ">
					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>

					<li>
						<div class="n4-6">
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
							<div class="n4-7 flex-col flex-start_center ">
								<div class="n4-8 bg-cover " style="background-image: url(https://i.ibb.co/wJYjMgF/Image.png)"></div>
								<h1 class="h7-re n4-9 text-align-center ">
									Kinh đô thời trang
								</h1>
							</div>
						</div>
					</li>
				</ul>				
			</div>		

		</div>
	</div>

	<div class="mxt-8 ">
		<div class="node-5">
			<div class="n5-1 flex-row flex-start_center bg-67 ">
				<div class="n5-2 flex-row flex-center_center ">
					<span class="icon-sort-24px fsx-24 txt-color-17 n5-5 "></span>
					<span class="h5-md n5-6">Sắp xếp</span>
				</div>
				<div class="n5-2 flex-row flex-center_center ">
					<span class="icon-filter-24px fsx-24 txt-color-17 n5-5 "></span>
					<span class="h5-md n5-6">Bộ lọc</span>
				</div>
				<div class="n5-4 flex-col flex-center_center ">
					<span class="icon-list-view-24px fsx-24 txt-color-17 n5-5 "></span>
				</div>
			</div>
			<div class="mxt-1 n5-3 bg-67 ">
				<ul class="effect-13 flex-row flex-start_center hx-100pc ">
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
				</ul>
			</div>	

			<div class="mxt-8 flex-row flex-between_start ">
				<div class="n5-8">
					<div class="n5-9 bg-67 ">
						<div class="n5-11 bg-cover p-rel " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png)">
							<div class="n5-12 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-13 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-14 p-abs bg-contain " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
						</div>		
						
						<div class="wx-100pc flex-col flex-start_center">
							<div class="n5-15">
								<h1 class="h6-re n5-16">Sumo BBQ - Buffet Nướng Lẩu Thả Ga Menu Premium</h1>
								<h2 class="h5-bo txt-color-5 n5-17 ">300.000đ</h2>
								<div class="flex-row flex-start_center n5-27 ">
									<span class="h7-re n5-18 txt-color-16 txt-deco-line_through ">600.000đ</span>
									<div class="n5-19 bg-5 h8-re flex-col flex-center_center ">
										<span>-50%</span>
									</div>
								</div>
								<ul class="n5-20 flex-row flex-start-center ">
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
								</ul>
								<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>
								<div class="n5-23 flex-row flex-start_center bg-21 ">
									<span class="icon-vinid-special txt-color-5 n5-26 "></span>
									<span class="n5-24 h7-re ">Hoàn</span>
									<span class="n5-25 h7-bo ">1.500.000đ</span>
								</div>
							</div>
						</div>
					</div>
					<div class="n5-9 bg-67 ">
						<div class="n5-11 bg-cover p-rel " style="background-image: url(https://i.ibb.co/4g52F1P/image.png)">
							<div class="n5-12 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-13 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-14 p-abs bg-contain " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
						</div>		
						
						<div class="wx-100pc flex-col flex-start_center">
							<div class="n5-15">
								<h1 class="h6-re n5-16">Sumo BBQ - Buffet Nướng Lẩu Thả Ga Menu Premium</h1>
								<h2 class="h5-bo txt-color-5 n5-17 ">300.000đ</h2>
								<div class="flex-row flex-start_center n5-27 ">
									<span class="h7-re n5-18 txt-color-16 txt-deco-line_through ">600.000đ</span>
									<div class="n5-19 bg-5 h8-re flex-col flex-center_center ">
										<span>-50%</span>
									</div>
								</div>
								<ul class="n5-20 flex-row flex-start-center ">
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
								</ul>
								<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>
								<div class="n5-23 flex-row flex-start_center bg-21 ">
									<span class="icon-vinid-special txt-color-5 n5-26 "></span>
									<span class="n5-24 h7-re ">Hoàn</span>
									<span class="n5-25 h7-bo ">1.500.000đ</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="n5-8">
					<div class="n5-10 bg-67 ">
						<div class="n5-11 bg-cover p-rel " style="background-image: url(https://i.ibb.co/4g52F1P/image.png)">
							<div class="n5-12 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-13 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-14 p-abs bg-contain " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
						</div>		
						
						<div class="wx-100pc flex-col flex-start_center">
							<div class="n5-15">
								<h1 class="h6-re n5-16">Sumo BBQ - Buffet Nướng Lẩu Thả Ga Menu Premium</h1>
								<h2 class="h5-bo txt-color-5 n5-17 ">300.000đ</h2>
								<div class="flex-row flex-start_center n5-27 ">
									<span class="h7-re n5-18 txt-color-16 txt-deco-line_through ">600.000đ</span>
									<div class="n5-19 bg-5 h8-re flex-col flex-center_center ">
										<span>-50%</span>
									</div>
								</div>
								<ul class="n5-20 flex-row flex-start-center ">
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
								</ul>
								<!-- <h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2> -->
								<div class="n5-23 flex-row flex-start_center bg-21 ">
									<span class="icon-vinid-special txt-color-5 n5-26 "></span>
									<span class="n5-24 h7-re ">Hoàn</span>
									<span class="n5-25 h7-bo ">1.500.000đ</span>
								</div>
							</div>
						</div>
					</div>
					<div class="n5-10 bg-67 ">
						<div class="n5-11 bg-cover p-rel " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png)">
							<div class="n5-12 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-13 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-14 p-abs bg-contain " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
						</div>		
						
						<div class="wx-100pc flex-col flex-start_center">
							<div class="n5-15">
								<h1 class="h6-re n5-16">Sumo BBQ - Buffet Nướng Lẩu Thả Ga Menu Premium</h1>
								<h2 class="h5-bo txt-color-5 n5-17 ">300.000đ</h2>
								<div class="flex-row flex-start_center n5-27 ">
									<span class="h7-re n5-18 txt-color-16 txt-deco-line_through ">600.000đ</span>
									<div class="n5-19 bg-5 h8-re flex-col flex-center_center ">
										<span>-50%</span>
									</div>
								</div>
								<ul class="n5-20 flex-row flex-start-center ">
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
									<li>
										<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
									</li>
								</ul>
								<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>
								<div class="n5-23 flex-row flex-start_center bg-21 ">
									<span class="icon-vinid-special txt-color-5 n5-26 "></span>
									<span class="n5-24 h7-re ">Hoàn</span>
									<span class="n5-25 h7-bo ">1.500.000đ</span>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>

			<div class="n5-30 bg-67 mxt-1 flex-col flex-center_center ">
				<button class="n5-28 bg-5 radius-4_4_4_4 ">
					<span class="txt-color-67 h5-bo n5-29 ">Xem thêm</span>
				</button>
			</div>
		</div>
	</div>

	<div class="mxt-8 ">
		<div class="node-6  ">
			<div class="n6-1 flex-row flex-between_center bg-67 ">
				<span class="n6-2 h4-md effect-13 ">Sản phẩm bán chạy</span>
				<div class="flex-row flex-end_center effect-14 ">
					<span class="h6-re n6-3 ">Xem tất cả</span>
					<span class="icon-right-24px fsx-24 txt-color-17 n6-4 "></span>
				</div>
			</div>
			
			<div class="n6-5 mxt-1 bg-67 flex-row flex-start_center ">
				<ul class="effect-13 flex-row flex-start_center ">
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="n6-6 ">
							<div class="n6-7 flex-col flex-end_center p-rel ">
								<div class="n6-8 bg-cover " style="background-image: url(https://i.ibb.co/nR9xNWq/image.png);"></div>
								<div class="n6-9 p-abs bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
								<div class="n6-10 p-abs bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
								<div class="n6-11 p-abs bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>
							</div>
							<div class="p-rel ">
								<h1 class="n6-12 p-abs h6-re ">Điện Thoại iPhone XS Max 64GB (2 Sim Vậ...</h1>
								<h2 class="n6-13 h5-bo p-abs txt-color-5 ">35.000.000đ</h2>

								<div class="p-abs flex-row flex-start_center n6-14 ">
									<span class="h7-re n6-15 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
									<div class="n6-16 bg-5 h8-re flex-col flex-center_center ">
										<span class="txt-color-67  ">-50%</span>
									</div>
								</div>

								<div class="p-abs n6-17 bg-21 radius-4_4_4_4 flex-start_center ">
									<span class="icon-vinid-special txt-color-5 n6-18 "></span>
									<span class="n6-19 h7-re ">Hoàn</span>
									<span class="n6-20 h7-bo ">1.500.000đ</span>									
								</div>
							</div>
							
						</div>
					</li>
				</ul>
				
			</div>		
		</div>
	</div>

	<div class="mxt-8 ">
		<div class="node-5">
			<div class="n5-1 flex-row flex-start_center bg-67 ">
				<div class="n5-2 flex-row flex-center_center ">
					<span class="icon-sort-24px fsx-24 txt-color-17 n5-5 "></span>
					<span class="h5-md n5-6">Sắp xếp</span>
				</div>
				<div class="n5-2 flex-row flex-center_center ">
					<span class="icon-filter-24px fsx-24 txt-color-17 n5-5 "></span>
					<span class="h5-md n5-6">Bộ lọc</span>
				</div>
				<div class="n5-4 flex-col flex-center_center ">
					<span class="icon-list-view-24px fsx-24 txt-color-17 n5-5 "></span>
				</div>
			</div>
			<div class="mxt-1 n5-3 bg-67 ">
				<ul class="effect-13 flex-row flex-start_center hx-100pc ">
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					


					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Tích điểm VinID</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>



					<li>
						<button class="n5-7 radius-4_4_4_4 ">
							<span class="h6-re ">Có quà tặng</span>
						</button>
					</li>
				</ul>
			</div>	

			<ul>
				<li>
					<div class="n5-31 flex-row flex-start_start bg-67 mxt-1 ">
						<div class="n5-32 p-rel bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);">
							<div class="n5-34 p-abs topx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-35 p-abs topx-0 rightx-0 bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-36 p-abs bottomx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>								
						</div>
						<div class="n5-33">
							<h1 class="h6-re n5-37 ">Điện Thoại iPhone XS Max 64GB (2 Sim Vật Lý) - Nhập</h1>
							<div class="flex-row flex-start_center n5-40 ">
								<h1 class="txt-color-5 h6-bo n5-38 ">300.000đ</h1>
								<span class="h6-re n5-38 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
								<div class="bg-5 n5-39 h8-re flex-col flex-center_center radius-4_4_4_4 ">
									<span class="txt-color-67  ">-50%</span>
								</div>
							</div>

							<ul class="n5-20 flex-row flex-start-center ">
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
							</ul>

							<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>

							<div class="n5-23 flex-row flex-start_center bg-21 ">
								<span class="icon-vinid-special txt-color-5 n5-26 "></span>
								<span class="n5-24 h7-re ">Hoàn</span>
								<span class="n5-25 h7-bo ">1.500.000đ</span>
							</div>

						</div>
					</div>
				</li>
				<li>
					<div class="n5-31 flex-row flex-start_start bg-67 mxt-1 ">
						<div class="n5-32 p-rel bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);">
							<div class="n5-34 p-abs topx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-35 p-abs topx-0 rightx-0 bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-36 p-abs bottomx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>								
						</div>
						<div class="n5-33">
							<h1 class="h6-re n5-37 ">Điện Thoại iPhone XS Max 64GB (2 Sim Vật Lý) - Nhập</h1>
							<div class="flex-row flex-start_center n5-40 ">
								<h1 class="txt-color-5 h6-bo n5-38 ">300.000đ</h1>
								<span class="h6-re n5-38 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
								<div class="bg-5 n5-39 h8-re flex-col flex-center_center radius-4_4_4_4 ">
									<span class="txt-color-67  ">-50%</span>
								</div>
							</div>

							<ul class="n5-20 flex-row flex-start-center ">
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
							</ul>

							<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>

							<div class="n5-23 flex-row flex-start_center bg-21 ">
								<span class="icon-vinid-special txt-color-5 n5-26 "></span>
								<span class="n5-24 h7-re ">Hoàn</span>
								<span class="n5-25 h7-bo ">1.500.000đ</span>
							</div>

						</div>
					</div>
				</li>
				<li>
					<div class="n5-31 flex-row flex-start_start bg-67 mxt-1 ">
						<div class="n5-32 p-rel bg-cover " style="background-image: url(https://i.ibb.co/4g52F1P/image.png);">
							<div class="n5-34 p-abs topx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/2nHHph0/Stopper-Left.png);"></div>
							<div class="n5-35 p-abs topx-0 rightx-0 bg-cover " style="background-image: url(https://i.ibb.co/jkCtmWR/Stopper-Right.png);"></div>
							<div class="n5-36 p-abs bottomx-0 leftx-0 bg-cover " style="background-image: url(https://i.ibb.co/g9vyHZb/img.png);"></div>								
						</div>
						<div class="n5-33">
							<h1 class="h6-re n5-37 ">Điện Thoại iPhone XS Max 64GB (2 Sim Vật Lý) - Nhập</h1>
							<div class="flex-row flex-start_center n5-40 ">
								<h1 class="txt-color-5 h6-bo n5-38 ">300.000đ</h1>
								<span class="h6-re n5-38 txt-color-16 txt-deco-line_through ">50.500.000đ</span>
								<div class="bg-5 n5-39 h8-re flex-col flex-center_center radius-4_4_4_4 ">
									<span class="txt-color-67  ">-50%</span>
								</div>
							</div>

							<ul class="n5-20 flex-row flex-start-center ">
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
								<li>
									<span class="icon-star-16px n5-21 fsx-10 txt-color-64 "></span>
								</li>
							</ul>

							<h2 class="n5-22 h7-bo txt-color-70 ">Trả góp 0%</h2>

							<div class="n5-23 flex-row flex-start_center bg-21 ">
								<span class="icon-vinid-special txt-color-5 n5-26 "></span>
								<span class="n5-24 h7-re ">Hoàn</span>
								<span class="n5-25 h7-bo ">1.500.000đ</span>
							</div>

						</div>
					</div>
				</li>
			</ul>

			<div class="n5-30 bg-67 mxt-1 flex-col flex-center_center ">
				<button class="n5-28 bg-5 radius-4_4_4_4 ">
					<span class="txt-color-67 h5-bo n5-29 ">Xem thêm</span>
				</button>
			</div>
		</div>
	</div>


	<div class="p-fixed node-10"></div>
</div>