<div class="flex-row flex-start_center hx-100pc pxl-16 ">
	<span class="txt-color-16 h5-re ">Sắp xếp theo:</span>
	<ul class="flex-row flex-start_center mxl-16 hx-100pc ">
		<li class="hx-100pc flex-col flex-center_center cursor-pointer after-7 ">
			<span class="txt-color-5 h5-re pxl-12 pxr-12 ">Phổ biến</span>
		</li>
		<li class="hx-100pc flex-col flex-center_center cursor-pointer  ">
			<span class="txt-color-71 h5-re pxl-12 pxr-12 ">Giá rẻ nhất</span>
		</li>
		<li class="hx-100pc flex-col flex-center_center cursor-pointer  ">
			<span class="txt-color-71 h5-re pxl-12 pxr-12 ">Giá cao nhất</span>
		</li>
		<li class="hx-100pc flex-col flex-center_center cursor-pointer  ">
			<span class="txt-color-71 h5-re pxl-12 pxr-12 ">Bán chạy</span>
		</li>
		<li class="hx-100pc flex-col flex-center_center cursor-pointer  ">
			<span class="txt-color-71 h5-re pxl-12 pxr-12 ">Hàng mới</span>
		</li>
	</ul>
</div>