<div>
	<ul class="hx-72 bg-67 wx-1232 mx-auto flex-row flex-start_center pxl-32 pxr-32">
		<li>
			<div class="flex-col flex-center_center hx-72 border-b_4_solid_5 mxr-16 cursor-pointer">
				<span class="h1-bo txt-color-5 pxl-16 pxr-16">Mua mã thẻ</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer">
				<span class="h1-bo pxl-16 pxr-16">Nạp tiền điện thoại trả trước</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer">
				<span class="h1-bo pxl-16 pxr-16">Thẻ game</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer">
				<span class="h1-bo pxl-16 pxr-16">Thẻ data 3G/4G</span>
			</div>
		</li>
	</ul>

	<div class="mxt-1">
		<div class="bg-67 wx-1232 mx-autopxl-32 pxr-32">

		</div>		
	</div>
</div>