<div>
	<ul class="hx-72 bg-67 wx-1232 mx-auto flex-row flex-start_center pxl-32 pxr-32">
		<li>
			<div class="flex-col flex-center_center hx-72 border-b_4_solid_5 mxr-16 cursor-pointer hover-16">
				<span class="h1-bo txt-color-5 pxl-16 pxr-16 h16-1">Mua mã thẻ</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer hover-16">
				<span class="h1-bo pxl-16 pxr-16 h16-1">Nạp tiền điện thoại trả trước</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer hover-16">
				<span class="h1-bo pxl-16 pxr-16 h16-1">Thẻ game</span>
			</div>
		</li>
		<li>
			<div class="flex-col flex-center_center hx-72 mxr-16 cursor-pointer hover-16">
				<span class="h1-bo pxl-16 pxr-16 h16-1">Thẻ data 3G/4G</span>
			</div>
		</li>
	</ul>

	<div class="mxt-1">
		<div class="bg-67 wx-1232 mx-auto pxl-32 pxr-32 flex-row flex-between_start pxt-16 pxb-32">
			<div>
				<div>
					<h1 class="h5-md">Nhập số điện thoại nhận mã thẻ</h1>
					<input type="text" placeholder="Vui lòng nhập số điện thoại" class="hx-40 h5-md wx-368 mxt-8 radius-4_4_4_4 border-1_solid_19 pxl-16 box-size-border_box">
					<p class="mxt-4 h6-re txt-color-47">Số điện thoại không đúng định dạng</p>					
					<p class="mxt-4 h6-re txt-color-16 pxr-60">Thuê bao bị khóa chiều nạp tiền (sim bị khóa 2 chiều, sim bị khóa do nhập sai mã thẻ điện thoại trước đó nhiều lần...) sẽ không thể thực hiện được dịch vụ này.</p>					
				</div>
				<div class="mxt-24 pxb-16">
					<h1 class="h5-md">Chọn nhà mạng</h1>
					<ul class="flex-row wrap mxt-8 wx-800">
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_5 bg-cover hover-17 p-rel" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);">
										<span class="icon-selected-checked p-abs rightx-m1 topx-0 fsx-20 ">
											<span class="path1"></span>
											<span class="path2"></span>
										</span>
									</div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="mxb-8">
									<div class="wx-137 hx-80 radius-4_4_4_4 border-1_solid_19 bg-cover hover-17" style="background-image: url(https://i.ibb.co/1QYHRZj/Unselected.png);"></div>
									<h3 class="mxt-8 h5-re text-align-center">Mobifone</h3>
								</div>
							</a>
						</li>																																				
					</ul>
				</div>
				<div class="mxt-24 pxb-16">
					<h1 class="h5-md">Chọn mệnh giá</h1>
					<ul class="flex-row wrap mxt-8 wx-800">
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_5 hover-17 p-rel ">
										<span class="h5-re h17-1">50.000đ</span>
										<span class="icon-selected-checked p-abs rightx-m1 topx-0 fsx-20 ">
											<span class="path1"></span>
											<span class="path2"></span>
										</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						
						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="">
								<div class="mxb-8 mxr-16">
									<div class="wx-137 hx-48 flex-col flex-center_center radius-4_4_4_4 border-1_solid_19 hover-17 p-rel overflow-hidden">
										<span class="h5-re h17-1">50.000đ</span>
										<div class="wx-56 hx-18 flex-col radius-0_0_0_4 flex-center_center bg-17 p-abs topx-0 rightx-0">
											<span class="h8-md txt-color-67 ">Hết hàng</span>
										</div>
									</div>
								</div>
							</a>
						</li>


					</ul>
				</div>
				<div class="mxt-16 wx-368 border-t_1_solid_19">
					<div class="flex-row flex-between_center mxt-12">
						<h1 class="h3-md">THÀNH TIỀN</h1>
						<h1 class="h3-bo txt-color-5">1.500.000đ</h1>
					</div>
					<h3 class="h7-re txt-color-16">Giá đã bao gồm VAT</h3>
					<div class="flex-row flex-between_center mxt-10 radius-4_4_4_4">
						<div class="wx-160 hx-40 border-1_solid_19 radius-4_4_4_4 overflow-hidden flex-row flex-between_center">
							<button class="wx-48 hx-40 flex-col flex-center_center cursor-pointer">
								<span class="icon-decrease-24px fsx-24"></span>
							</button>
							<input type="text" class="hx-100pc border-l_1_solid_19 border-r_1_solid_19 wx-64 text-align-center">
							<button class="wx-48 hx-40 flex-col flex-center_center cursor-pointer">
								<span class="icon-increase-24px fsx-24"></span>
							</button>

						</div>
						<button class="radius-4_4_4_4 wx-192 hx-40 bg-5 flex-col flex-center_center">
							<span class="h5-bo txt-color-67">Thanh toán</span>
						</button>
					</div>
				</div>
			</div>
			<div class="wx-816 hx-248 flex-col flex-center_center display-none">
				<img class="wx-176 hx-176" src="assets/images/shopping-176px.svg" />
				<h1 class="mxt-12 h5-bo">Sản phẩm tạm hết hàng</h1>
				<h1 class="h5-re">Quý khách vui lòng liên hệ sau</h1>
			</div>
			<div class="wx-368 hx-280 bg-cover" style="background-image: url(https://i.ibb.co/2PhjBLR/base.png);"></div>
		</div>		
	</div>
</div>