        <div class="mxt-1 bg-67 hx-48 flex-col flex-center_center ">
          <div class="flex-row flex-center_center ">
            <button class="radius-4_4_4_4 cursor-pointer wx-32 hx-32 flex-col flex-center_center border-1_solid_20 ">
              <span class="icon-left-24px fsx-24 txt-color-17 "></span>
            </button>
            <ul class="mxl-8 mxr-8 flex-row flex-center_center ">
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">1</span>
                </button>                 
              </li>
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">2</span>
                </button>                 
              </li>
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">3</span>
                </button>                 
              </li>
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">4</span>
                </button>                 
              </li>    
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center ">
                  <span class="fsx-24 icon-more-vertical-24px txt-color-17 "></span>
                </button>                 
              </li>  
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">5</span>
                </button>                 
              </li>  
              <li>
                <button class="radius-4_4_4_4 cursor-pointer mxr-8 hx-32 flex-col flex-center_center border-1_solid_20 ">
                  <span class="h5-bo txt-color-71 pxt-3 pxb-3 pxl-5 pxr-5 ">80</span>
                </button>                 
              </li>      
            </ul>
            <button class="radius-4_4_4_4 cursor-pointer hx-32 wx-32 flex-col flex-center_center border-1_solid_20 ">
              <span class="icon-right-24px fsx-24 "></span>
            </button> 
          </div>
        </div>