  <div class="hx-112 ">
    <div class="hx-64 bg-73 ">
      <div class="wx-1232 mx-auto hx-100pc flex-row flex-between_center ">
        <span class="hero-bo txt-color-67 mxl-96 ">Adidas Original</span>
        <div class="flex-row flex-end_center ">
          <button class="flex-row flex-between_center hx-32 bg-67 radius-4_4_4_4 pxl-16 pxr-16 ">
            <div class="wx-16 hx-16 bg-cover " style="background-image: url(https://i.ibb.co/sKB2gX4/certificate-color-16px.png)"></div>
            <span class="h6-re txt-color-71 mxl-12 ">Giấy phép kinh doanh</span>
          </button>
          <button class="flex-row mxl-8 flex-between_center hx-32 bg-67 radius-4_4_4_4 pxl-16 pxr-16 ">
            <div class="wx-16 hx-16 bg-cover " style="background-image: url(https://i.ibb.co/sKB2gX4/certificate-color-16px.png)"></div>
            <span class="h6-re txt-color-71 mxl-12 ">Chứng nhận chính hãng</span>
          </button>
          <button class="flex-row mxl-8 flex-between_center hx-32 bg-67 radius-4_4_4_4 pxl-16 pxr-16 ">
            <span class="h6-re txt-color-71 ">Xem thêm</span>
          </button>
        </div>
      </div>
    </div>
    <div class="hx-48 bg-67 ">
      <div class="wx-1232 mx-auto hx-100pc flex-row flex-between_center ">
        <div class="flex-row flex-start_center hx-100pc ">
          <div class="wx-80 hx-80 shadow-0_0_16_0_0_0_2 bg-cover p-rel topx-m32 " style="background-image: url(https://i.ibb.co/xCWTdym/22109-nokia-fi-xlarge.jpg)"></div>
          <ul class="mxl-16 flex-row flex-start_center hx-100pc ">
            <li class="hx-100pc cursor-pointer after-8 flex-col flex-center_center bg-22 ">
              <span class="h6-re txt-color-73 pxl-12 pxr-12 ">Trang chủ</span>
            </li>            
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Fall winter 2018-19</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Man</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Woman</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Baby </span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Nước hoa</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Phụ kiện</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Túi xách</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Đồng hồ</span>
            </li>
            <li class="hx-100pc cursor-pointer flex-col flex-center_center bg-67 ">
              <span class="h6-re txt-color-71 pxl-12 pxr-12 ">Xem thêm</span>
            </li>
          </ul>
        </div>

        <div class="p-rel ">
          <input type="text" class="wx-240 pxl-34 box-size-border_box h6-re hx-32 radius-4_4_4_4 border-1_solid_19 " placeholder="Tìm kiếm trong Adidas Or...">
          <span class="icon-search-tiny-24px fsx-24 txt-color-17 p-abs leftx-6 topx-5 "></span>
        </div>
      </div>
    </div>
  </div>