<!-- START HOME PAGE -->
<div class="wx-1232 mx-auto">
	<ul class="hx-48 flex-row flex-start_center">
		<li class="flex-row flex-start_center">
			<span class="h6-re txt-color-16">Trang chủ</span>
			<span class="icon-right-24px fsx-20 txt-color-16"></span>
		</li>
		<li class="flex-row flex-start_center">
			<span class="h6-re txt-color-16">Adayroi Help Center</span>
		</li>
	</ul>
	<div class="bg-67">
		<div class="hx-308 bg-cover flex-row flex-start_center" style="background-image: url(https://i.ibb.co/3WK0082/Banner.png)">
			<div class="wx-584 hx-244 bg-67 shadow-0_4_8_0_0_0_15 mxl-32 pxl-32 pxt-32 pxb-32 pxr-32">
				<h3 class="effect-43">Xin chào !</h3>
				<h4 class="effect-44 mxt-12">Chúng tôi có thể giúp bạn điều gì ?</h4>
				<p class="h5-re mxt-40">
					<span>Bạn cần trợ giúp từ Adayroi ? Hãy thử </span>
					<span class="txt-color-30"> những câu hỏi thường gặp </span>
					<span>hoặc liên hệ </span>
					<span class="h5-bo">19001901</span>
				</p>
			</div>
		</div>

		<div>
			<h3 class="text-align-center hero-bo mxt-46">Gợi ý cho bạn</h3>
			<div class="mxt-30 flex-row flex-between_start pxl-32 pxr-32">
				<div class="wx-368 hx-404 border-1_solid_20 shadow-0_2_4_0_0_0_05 pxt-32 pxb-32 pxl-32 pxr-32">
					<img src="/assets/images/how-to-use.svg" alt="" class="wx-48 hx-48">
					<h3 class="h2-bo pxt-12 pxb-12 mxt-12">Hướng dẫn sử dụng</h3>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Câu hỏi thường gặp</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Đăng ký tài khoản</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Đăng nhập và mua hàng</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Tích điểm VinID khi mua nhà</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
				</div>
				<div class="wx-368 hx-404 border-1_solid_20 shadow-0_2_4_0_0_0_05 pxt-32 pxb-32 pxl-32 pxr-32">
					<img src="/assets/images/condition-policy.svg" alt="" class="wx-48 hx-48">
					<h3 class="h2-bo pxt-12 pxb-12 mxt-12">Điều khoản & Chính sách</h3>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Điều khoản và điều kiện giao dịch</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Quy chế hoạt động của sàn TMĐT</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Chính sách bảo mật</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Chính sách định danh khách hàng</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Chính sách bảo mật thanh toán</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
				</div>
				<div class="wx-368 hx-404 border-1_solid_20 shadow-0_2_4_0_0_0_05 pxt-32 pxb-32 pxl-32 pxr-32">
					<img src="/assets/images/FAQ.svg" alt="" class="wx-48 hx-48">
					<h3 class="h2-bo pxt-12 pxb-12 mxt-12">Câu hỏi thường gặp</h3>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Tài khoản Adayroi</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Đơn hàng của tôi</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Giao nhận hàng hoá</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Đổi trả và hoàn tiền</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
					<div class="flex-row flex-between_center pxt-12 pxb-12">
						<h3 class="h4-re">Bảo hành sản phẩm</h3>
						<span class="icon-right-24px fsx-24 txt-color-17"></span>
					</div>
				</div>
			</div>
			<div class="mxt-32 hx-846 bg-cover flex-col flex-end_center" style="background-image: url(https://i.ibb.co/dgnynZY/Vin-ID-Card-Register.png);">
				<button class="wx-328 hx-40 radius-4_4_4_4 bg-67 flex-col flex-center_center h5-bo mxb-47">
					Đăng ký ngay
				</button>
			</div>
		</div>		
	</div>
	<div class="mxt-16 bg-67">
		<h3 class="h4-md pxt-12 pxb-12 pxl-12">Sản phẩm & Dịch vụ đã xem</h3>
		<ul class="flex-row flex-start_center pxl-16 pxr-16 pxb-16">
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
			<li>
				<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
			</li>
		</ul>
	</div>
</div>
<!-- END HOME PAGE -->


<!-- START ABOUT PAGE -->
	<div class="mxt-100">
		<div class="bg-67">
			<div class="wx-1232 mx-auto hx-56 flex-row flex-between_center">
				<div class="flex-row flex-start_center hx-100pc">
					<img src="/assets/images/help-center-logo.svg" alt="" class="wx-168 hx-56">
					<ul class="mxl-32 flex-row flex-start_center hx-100pc">
						<li class="hx-100pc flex-col flex-center_center border-b_2_solid_5">
							<span class="h4-re pxl-12 pxr-12 txt-color-5">Trang chủ</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Về Adayroi</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Câu hỏi thường gặp</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Điều khoản và chính sách</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">VinID Card</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Liên hệ</span>
						</li>						
					</ul>
				</div>

				<button class="radius-4_4_4_4 border-1_solid_20 wx-202 hx-32 flex-row flex-start_center">
					<span class="icon-merchant-16px fsx-16 mxl-12"></span>
					<span class="h5-bo mxl-12">Bán hàng cùng Adayroi</span>
				</button>
			</div>
		</div>
		<div class="wx-1232 mx-auto">
			<ul class="hx-48 flex-row flex-start_center">
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Trang chủ</span>
					<span class="icon-right-24px fsx-20 txt-color-16"></span>
				</li>
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Về Adayroi</span>
				</li>
			</ul>
			<div class="hx-308 bg-cover" style="background-image: url(https://i.ibb.co/2dn7Q3Z/Banner-Full-Screen.png);"></div>		

			<div class="mxt-16 bg-67">
				<div class="wx-816 mx-auto pxt-40 pxb-40">
					<div>
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">Giới thiệu về Adayroi</h3>
						<p class="h4-re mxt-16">
							Adayroi là website thương mại điện tử của Công ty Cổ phần Dịch vụ Thương Mại Tổng hợp VinCommerce, một thành viên của Tập đoàn Vingroup.
							<br>
							<br>
							Adayroi là mô hình đại siêu thị điện tử - "tất cả trong một". Adayroi cung cấp nhiều ngành hàng đa dạng, từ những hàng hoá giá trị lớn như bất động sản, đến các sản phẩm - dịch vụ phục vụ các nhu cầu thiết thực của cuộc sống hàng ngày như thực phẩm, nhu yếu phẩm, thời trang, du lịch, điện tử, đồ gia dụng, … vượt trội cả về chủng loại và số lượng.
						</p>						
					</div>
					<div class="mxt-40">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">Tầm nhìn</h3>
						<p class="h4-re mxt-16">
							Adayroi ra đời với hoài bão tạo nên một bước đột phá lớn trong lĩnh vực thương mại điện tử ở Việt Nam, góp phần thể hiện khát vọng của tập đoàn Vingroup là luôn tiên phong, đi đầu trong mọi lĩnh vực trong nền kinh tế của đất nước.
							<br>
							<br>
							Adayroi đặt mục tiêu trở thành hệ thống bán lẻ số một tại Việt Nam, tiến đến vươn ra thị trường khu vực và thế giới.
						</p>						
					</div>

					<div class="mxt-40">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">Sứ mệnh</h3>
						<p class="h4-re mxt-16">
							Sứ mệnh của Adayroi là mang thương mại điện tử đến với mọi đối tượng khách hàng, từ những tầng lớp bình dân nhất, ít quan tâm đến công nghệ nhất. Từ đó, Adayroi sẽ từng bước xây dựng văn hoá tiêu dùng tiện lợi và văn minh cho người Việt Nam.
							<br>
							<br>
							Adayroi cũng tạo ra cơ hội cho các nhà kinh doanh bán lẻ và các Nhà sản xuất nội địa mở rộng thị trường, có được một môi trường phát triển lành mạnh, hiệu quả. Cũng trên hệ thống này, Adayroi mang đến cho người tiêu dùng những sản phẩm, dịch vụ chất lượng cao, thúc đẩy và sự phát triển của lĩnh vực thương mại điện tử và ngành bán lẻ tại Việt Nam. Đây là một phần quan trọng tạo ra động lực mạnh mẽ để phát triển nền kinh tế, từ đó góp phần vào sự thịnh vượng của đất nước.
						</p>						
					</div>


					<div class="mxt-40">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">Giá trị cốt lõi</h3>
						<p class="h4-re mxt-16">
							Adayroi xác định luôn trung thành với những giá trị cốt lõi của mình để luôn là sự lựa chọn số một của người tiêu dùng. Hệ thống giá trị bao gồm:
							<br>
							<br>
							● Số lượng sản phẩm và dịch vụ lớn nhất: hàng triệu mặt hàng với chủng loại đa dạng, phong phú.
							<br>
							● Thanh toán an toàn, bảo mật, đáp ứng tiêu chuẩn Quốc tế.
							<br>
							● Tốc độ giao hàng vượt trội.
							<br>
							● Chăm sóc khách hàng 24/7.
							<br>
							● Nhiều kênh bán hàng sáng tạo, tiện lợi: Website thương mại điện tử, Cộng đồng trực tuyến.
							<br>
							● Nền tảng công nghệ hiện đại, giao dịch thuận tiện nhanh chóng.
						</p>						
					</div>



					<div class="mxt-40">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">
							Giới thiệu logo 
							<img src="assets/images/logo-adayroi.svg" alt="" class="wx-149 hx-32 mxl-8">
						</h3>
						<p class="h4-re mxt-16">
							Logo của Adayroi được thiết kế với màu đỏ làm chủ đạo, tạo cảm giác dồi dào về năng lượng, nhiệt huyết, đồng thời cũng thể hiện sự thịnh vượng, hạnh phúc. Đây cũng là sự kế thừa màu đỏ của lòng yêu nước, của niềm tự hào dân tộc từ màu đỏ trong logo của Tập đoàn Vingroup.
							<br>
							<br>
							Bên cạnh những thông điệp đặc biệt muốn gửi gắm qua logo, Adayroi còn đưa ra khẩu hiệu "Adayroi - Trung tâm thương mại điện tử của Vingroup", như lời cam kết về uy tín và chất lượng trong các sản phẩm, dịch vụ của mình.
							<br>
							<br>
							Adayroi mang đến cho khách hàng những hàng hoá có nguồn gốc xuất xứ rõ ràng, đảm bảo, với một tốc độ nhanh chóng. Người tiêu dùng có thể tin tưởng rằng: Adayroi có tất cả những gì bạn cần, và phục vụ theo đúng tất cả những gì mà bạn mong đợi.
						</p>						
					</div>


					<div class="mxt-40 ">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">
							Thông tin đối ngoại
						</h3>
						<p class="h4-re mxt-16 flex-col flex-center_center">
							<span class="h4-bo">
								VinCommerce hợp tác chiến lược với Vietcombank và Smartlink.
							</span>
							<br>
							<br>
							<br>
							<span class="h4-bo">
								Ngày 19/9/2014, tại Hội sở chính Ngân hàng TMCP Ngoại thương Việt Nam(Vietcombank), đã diễn ra lễ ký kết Thỏa thuận hợp tác chiến lược triển khai các dịch vụ ngân hàng giữa Công ty TNHH VinCommerce, Vietcombank và Công ty Cổ phần Dịch vụ thẻ Smartlink (Smartlink).
							</span>

							<br>
							<br>
							<br>

							Theo Thỏa thuận hợp tác chiến lược được ký kết, VinCommerce, Vietcombank, và Smartlink cam kết tăng cường hợp tác với mục tiêu trở thành đối tác chiến lược của nhau trong quá trình hoạt động và phát triển.
							<br>
							<br>
							<img src="https://i.ibb.co/N1SGxcb/Rectangle.png" alt="" class="wx-560 hx-400 text-align-center">
							<span class="txt-color-16 h6-re">Đại diện các đơn vị bắt tay thể hiện sự hợp tác bền chặt hướng tới mục tiêu chung, phát triển và thịnh vượng.</span>

							<br>
							<br>
							Thông qua việc hợp tác này, VinCommerce, Vietcombank và Smartlink sẽ cùng xúc tiến các hoạt động phát triển kinh doanh, quản lý nguồn vốn để khai thác tốt nhất thế mạnh của mỗi bên cũng như tiềm năng của thị trường trong và ngoài nước theo nguyên tắc đảm bảo lợi ích đa phương.
							<br>
							<br>
							Đồng thời, Vietcombank sẽ phối hợp với Smartlink cung cấp toàn diện các dịch vụ ngân hàng cho VinCommerce nhằm đem đến cho người tiêu dùng những sản phẩm, dịch vụ có chất lượng tốt nhất cũng như các phương thức thanh toán hiện đại, an toàn và tiện lợi.
						</p>						
					</div>



					<div class="mxt-40 ">
						<h3 class="text-align-center hero-bo pxt-14 pxb-14">
							Liên hệ
						</h3>
						
						<h4 class="h4-re text-align-center mxt-14">
							Báo chi xin vui lòng liên hệ
						</h4>					

						<div class="mxt-32 flex-row flex-between_center">
							<div class="wx-392 border-1_solid_21">
								<div class="hx-48 flex-row flex-start_center pxl-16 border-b_1_solid_21">
									<span class="h4-md">Hà Nội</span>
								</div>
								<div class="pxl-16 pxt-12 pxb-12">
									<div class="flex-row flex-start_center">
										<span class="icon-email-24px fsx-24 txt-color-5"></span>
										<span class="h5-re mxl-12">cohoihoptac.hn@adayroi.com</span>
									</div>
									<div class="flex-row flex-start_center mxt-10">
										<span class="icon-email-24px fsx-24 txt-color-5"></span>
										<span class="h5-re mxl-12">dichvuhn@adayroi.com</span>
									</div>
								</div>
							</div>
							<div class="wx-392 border-1_solid_21">
								<div class="hx-48 flex-row flex-start_center pxl-16 border-b_1_solid_21">
									<span class="h4-md">Tp. Hồ Chí Minh</span>
								</div>
								<div class="pxl-16 pxt-12 pxb-12">
									<div class="flex-row flex-start_center">
										<span class="icon-email-24px fsx-24 txt-color-5"></span>
										<span class="h5-re mxl-12">cohoihoptac.hcm@adayroi.com</span>
									</div>
									<div class="flex-row flex-start_center mxt-10">
										<span class="icon-email-24px fsx-24 txt-color-5"></span>
										<span class="h5-re mxl-12">dichvuhcm@adayroi.com</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="mxt-16 bg-67">
				<h3 class="h4-md pxt-12 pxb-12 pxl-12">Sản phẩm & Dịch vụ đã xem</h3>
				<ul class="flex-row flex-start_center pxl-16 pxr-16 pxb-16">
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END ABOUT PAGE -->




<!-- START FQA PAGE -->
	<div class="mxt-100">
		<div class="bg-67">
			<div class="wx-1232 mx-auto hx-56 flex-row flex-between_center">
				<div class="flex-row flex-start_center hx-100pc">
					<img src="/assets/images/help-center-logo.svg" alt="" class="wx-168 hx-56">
					<ul class="mxl-32 flex-row flex-start_center hx-100pc">
						<li class="hx-100pc flex-col flex-center_center border-b_2_solid_5">
							<span class="h4-re pxl-12 pxr-12 txt-color-5">Trang chủ</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Về Adayroi</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Câu hỏi thường gặp</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Điều khoản và chính sách</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">VinID Card</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Liên hệ</span>
						</li>						
					</ul>
				</div>

				<button class="radius-4_4_4_4 border-1_solid_20 wx-202 hx-32 flex-row flex-start_center">
					<span class="icon-merchant-16px fsx-16 mxl-12"></span>
					<span class="h5-bo mxl-12">Bán hàng cùng Adayroi</span>
				</button>
			</div>
		</div>
		<div class="wx-1232 mx-auto">
			<ul class="hx-48 flex-row flex-start_center">
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Trang chủ</span>
					<span class="icon-right-24px fsx-20 txt-color-16"></span>
				</li>
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Về Adayroi</span>
				</li>
			</ul>

			<div class="flex-row flex-between_start">
				<div class="wx-296 bg-67">
					<ul class="pxt-8 pxb-8">
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc bg-10 radius-4_4_4_4 flex-row flex-start_center h5-re txt-color-5 pxl-8">
									Tài khoản Adayroi
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Đơn hàng của tôi
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Giao hàng của tôi
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Trả hàng và hoàn tiền
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Bảo hành sản phẩm
								</div>
							</div>
						</li>						
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Những câu hỏi khác
								</div>
							</div>
						</li>						
					</ul>
				</div>
				<div class="wx-920 bg-67 pxl-16 pxr-16 pxb-16">
					<h3 class="hero-bo pxt-14 pxb-14">Tài khoản Adayroi</h3>
					<div class="border-1_solid_20">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email hoặc liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của ADAYROI qua tổng đài 1900 1901 (1000đ/phút) để được hỗ trợ.
						</div>
					</div>
					<div class="border-1_solid_20 mxt-12">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email hoặc liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của ADAYROI qua tổng đài 1900 1901 (1000đ/phút) để được hỗ trợ.
						</div>
					</div>
					<div class="border-1_solid_20 mxt-12">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email hoặc liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của ADAYROI qua tổng đài 1900 1901 (1000đ/phút) để được hỗ trợ.
						</div>
					</div>
					<div class="border-1_solid_20 mxt-12">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email hoặc liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của ADAYROI qua tổng đài 1900 1901 (1000đ/phút) để được hỗ trợ.
						</div>
					</div>
					<div class="border-1_solid_20 mxt-12">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							Nếu Quý khách không tìm thấy email kích hoạt trong mục Inbox, vui lòng kiểm tra trong mục Thư rác/Spam/Email hoặc liên hệ trực tiếp với bộ phận Chăm sóc khách hàng của ADAYROI qua tổng đài 1900 1901 (1000đ/phút) để được hỗ trợ.
						</div>
					</div>
				</div>
			</div>

			<div class="mxt-16 bg-67">
				<h3 class="h4-md pxt-12 pxb-12 pxl-12">Sản phẩm & Dịch vụ đã xem</h3>
				<ul class="flex-row flex-start_center pxl-16 pxr-16 pxb-16">
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END FQA PAGE -->





<!-- START TERMS AND POLICIES PAGE -->
	<div class="mxt-100">
		<div class="bg-67">
			<div class="wx-1232 mx-auto hx-56 flex-row flex-between_center">
				<div class="flex-row flex-start_center hx-100pc">
					<img src="/assets/images/help-center-logo.svg" alt="" class="wx-168 hx-56">
					<ul class="mxl-32 flex-row flex-start_center hx-100pc">
						<li class="hx-100pc flex-col flex-center_center border-b_2_solid_5">
							<span class="h4-re pxl-12 pxr-12 txt-color-5">Trang chủ</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Về Adayroi</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Câu hỏi thường gặp</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Điều khoản và chính sách</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">VinID Card</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Liên hệ</span>
						</li>						
					</ul>
				</div>

				<button class="radius-4_4_4_4 border-1_solid_20 wx-202 hx-32 flex-row flex-start_center">
					<span class="icon-merchant-16px fsx-16 mxl-12"></span>
					<span class="h5-bo mxl-12">Bán hàng cùng Adayroi</span>
				</button>
			</div>
		</div>
		<div class="wx-1232 mx-auto">
			<ul class="hx-48 flex-row flex-start_center">
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Trang chủ</span>
					<span class="icon-right-24px fsx-20 txt-color-16"></span>
				</li>
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Về Adayroi</span>
				</li>
			</ul>

			<div class="flex-row flex-between_start">
				<div class="wx-296 bg-67">
					<ul class="pxt-8 pxb-8">
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc bg-10 radius-4_4_4_4 flex-row flex-start_center h5-re txt-color-5 pxl-8">
									Điều khoản và điều kiện giao dịch
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Quy chế hoạt đồng sàn TMĐT trên Adayroi
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách bảo mật và chia sẻ thông tin
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách bảo mật thanh toán
								</div>
							</div>
						</li>
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách thanh toán
								</div>
							</div>
						</li>						
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách giao hàng
								</div>
							</div>
						</li>	
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách đổi trả
								</div>
							</div>
						</li>	
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Hướng dẫn gửi trả hàng
								</div>
							</div>
						</li>	
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Chính sách bảo hành
								</div>
							</div>
						</li>	
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Công văn miễn dấu hoá đơn
								</div>
							</div>
						</li>	
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Công văn miễn chữ ký số
								</div>
							</div>
						</li>							
						<li>
							<div class="hx-40 pxt-4 pxb-4 pxl-8 pxr-8">
								<div class="wx-100pc hx-100pc radius-4_4_4_4 flex-row flex-start_center h5-re pxl-8">
									Một số quy định cần lưu ý của khách sạn Vinpearl
								</div>
							</div>
						</li>	



					</ul>
				</div>
				<div class="wx-920 bg-67 pxl-16 pxr-16 pxb-16">
					<h3 class="hero-bo pxt-14 pxb-14">Điều khoản và điều kiện giao dịch</h3>
					<p class="h5-re">
						Chào mừng Quý khách đến với website cung cấp dịch vụ thương mại điện tử www.adayroi.com hoặc ứng dụng cung cấp dịch vụ thương mại điện tử Adayroi (sau đây gọi là <span class="h5-bo">"Website/Ứng Dụng"</span>), website điện tử thiết lập và sở hữu bởi CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP VINCOMMERCE, một công ty thuộc tập đoàn VINGROUP, thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0104918404 do Sở KHĐT Hà Nội cấp lần đầu ngày 20/09/2010 như được sửa đổi bổ sung từng thời điểm (sau đây gọi chung là <span class="h5-bo"> "ADAYROI" </span>)

						<br>
						<br>

						ADAYROI cũng đã được Bộ Công Thương xác nhận đăng ký đối với ứng dụng di động Thương mại điện tử Adayroi (sau đây gọi là “Ứng Dụng”) từ ngày 25/12/2017.
						
						<br>
						<br>

						Xin vui lòng đọc kỹ Điều khoản và điều kiện giao dịch này (sau đây gọi là <span class="h5-bo">"Điều Khoản Và Điều Kiện"</span>) trước khi đặt mua bất kỳ hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ nào trên Website/Ứng Dụng (sau đây gọi là <span class="h5-bo">"Sản Phẩm"</span>).						
					</p>
					<div class="border-1_solid_20 mxt-14">
						<div class="hx-48 flex-row flex-between_center pxl-16 pxr-16">
							<h4 class="h4-md">Làm thế nào để đăng ký tài khoản Adayroi?</h4>
							<span class="icon-down-24px fsx-24 txt-color-17"></span>
						</div>
						<div class="border-t_1_solid_20 pxt-16 pxb-16 pxl-16 pxr-16 h5-re">
							<p class="h5-re">
								1.1. Điều Khoản Và Điều Kiện sẽ được áp dụng cho khách hàng:
								<br>
								<br>
								(i) Mua Sản Phẩm bán trên Website/Ứng Dụng; Và
								<br>
								<br>
								(ii) Có nhu cầu được giao Sản Phẩm đến các địa điểm phù hợp với Chính sách giao hàng đăng tải trên Website/Ứng Dụng.
								<br>
								<br>
								1.2. Khách hàng tại Điều Khoản Và Điều Kiện này bao gồm: mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi dân sự phù hợp để thực hiện giao dịch thông qua ADAYROI và (ii) mọi tổ chức được thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “ Khách Hàng”).
							</p>
							
							<div class="flex-row flex-center_center">
								<button class="wx-160 hx-32 border-1_solid_20 radius-4_4_4_4 flex-col flex-center_center h5-bo">Thu gọn</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="mxt-16 bg-67">
				<h3 class="h4-md pxt-12 pxb-12 pxl-12">Sản phẩm & Dịch vụ đã xem</h3>
				<ul class="flex-row flex-start_center pxl-16 pxr-16 pxb-16">
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END TERMS AND POLICIES PAGE -->



<!-- START VINID AND CARD -->
	<div class="mxt-100">
		<div class="bg-67">
			<div class="wx-1232 mx-auto hx-56 flex-row flex-between_center">
				<div class="flex-row flex-start_center hx-100pc">
					<img src="/assets/images/help-center-logo.svg" alt="" class="wx-168 hx-56">
					<ul class="mxl-32 flex-row flex-start_center hx-100pc">
						<li class="hx-100pc flex-col flex-center_center border-b_2_solid_5">
							<span class="h4-re pxl-12 pxr-12 txt-color-5">Trang chủ</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Về Adayroi</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Câu hỏi thường gặp</span>
						</li>
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Điều khoản và chính sách</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">VinID Card</span>
						</li>						
						<li class="hx-100pc flex-col flex-center_center">
							<span class="h4-re pxl-12 pxr-12">Liên hệ</span>
						</li>						
					</ul>
				</div>

				<button class="radius-4_4_4_4 border-1_solid_20 wx-202 hx-32 flex-row flex-start_center">
					<span class="icon-merchant-16px fsx-16 mxl-12"></span>
					<span class="h5-bo mxl-12">Bán hàng cùng Adayroi</span>
				</button>
			</div>
		</div>
		<div class="wx-1232 mx-auto">
			<ul class="hx-48 flex-row flex-start_center">
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Trang chủ</span>
					<span class="icon-right-24px fsx-20 txt-color-16"></span>
				</li>
				<li class="flex-row flex-start_center">
					<span class="h6-re txt-color-16">Về Adayroi</span>
				</li>
			</ul>

			<div class="hx-308 bg-cover" style="background-image: url(https://i.ibb.co/JHc8410/Banner-Full-Screen.png);"></div>

			<div class="mxt-16 bg-67 flex-row flex-between_center">
				<div class="wx-624 pxl-104 pxt-54 pxb-42">
					<h3 class="hero-bo pxt-14 pxb-14">Giới thiệu về VinID</h3>
					<p class="h5-re mxt-16">
						Với nỗ lực không ngừng nâng cao chất lượng dịch vụ để phục vụ khách hàng ngày một tốt hơn, từ tháng 1 năm 2016, tập đoàn Vingroup chính thức ra mắt chương trình khách hàng thân thiết (KHTT) Vingroup và phát hành thẻ VinID cho tất cả các khách hàng cá nhân sử dụng sản phẩm, dịch vụ của các công ty thành viên thuộc tập đoàn.

						<br>
						<br>

						VinID Card là thẻ khách hàng thân thiết đầu tiên và duy nhất tại Việt Nam đến thời điểm hiện tại có thể kết nối và tích hợp ưu đãi cùng lúc với nhiều lĩnh vực tiêu dùng thiết yếu như bất động sản, nghỉ dưỡng, khám chữa bệnh, giáo dục, mua sắm, tiêu dùng, ẩm thực, vui chơi giải trí,... Đây cũng chính là hệ sinh thái các sản phẩm và dịch vụ đẳng cấp mà Vingroup muốn giới thiệu tới các Quý khách hàng.
					</p>

					<h3 class="h4-md txt-color-5 mxt-24">VinID Card có 2 hạng thẻ</h3>
					<div class="flex-row flex-start_center mxt-10">
						<span class="icon-vinid-24px fsx-24 txt-color-5"></span>
						<span class="h6-md mxl-12">Thẻ khách hàng VIP</span>
					</div>
					<div class="flex-row flex-start_center mxt-12">
						<span class="icon-vinid-24px fsx-24 txt-color-24"></span>
						<span class="h6-md mxl-12">Thẻ khách hàng VIP</span>
					</div>
				</div>
				<div class="wx-624 flex-col flex-center_center bg-cover">
					<div class="wx-500 hx-400 bg-cover" style="background-image: url(https://i.ibb.co/HgQmgFm/01.png)"></div>
				</div>
			</div>

			<div class="mxt-16 flex-row flex-between_center">
				<div class="wx-624 flex-col flex-center_center bg-cover">
					<div class="wx-500 hx-400 bg-cover" style="background-image: url(https://i.ibb.co/NZqv1nC/02.png)"></div>
				</div>
				<div class="wx-624 flex-col flex-center_start">
					<h3 class="hero-bo pxt-14 pxb-14">Tính năng ưu việt vượt trội</h3>
					<p class="h5-re mxt-16">
						VinID Card là loại thẻ cho phép khách hàng tích và tiêu điểm với nhiều ưu đãi hấp dẫn trực tiếp tại tất cả các điểm kinh doanh hoặc mua sắm trực tuyến qua www.adayroi.com của tập đoàn Vingroup. Tính năng ưu việt vượt trội này của thẻ giúp gia tăng lợi ích thiết thực và mang lại niềm vui cho khách hàng khi lựa chọn mua sắm, tiêu dùng các sản phẩm của tập đoàn. Chương trình mới này sẽ thay thế hoàn toàn các chương trình khách hàng thân thiết hiện nay đang áp dụng tại các công ty thành viên của tập đoàn.
					</p>
				</div>
			</div>

			<div class="mxt-16 bg-67 flex-row flex-between_center">
				<div class="wx-624 pxl-104 pxt-54 pxb-42">
					<h3 class="hero-bo pxt-14 pxb-14 wx-297 text-align-left">Rất nhiều sản phẩm dịch vụ được tích điểm VinID</h3>
					<p class="h5-re mxt-16">
						Khách hàng sở hữu thẻ khách hàng thân thiết có thể thực hiện ngay tính năng tiêu điểm của thẻ ngay sau giao dịch thứ 02 kể từ khi thẻ được phát hành và sử dụng để giao dịch. Điều kiện để được sở hữu thẻ khách hàng VIP và các điều kiện duy trì hạng thẻ VIP được quy định chi tiết tại đây.
					</p>
				</div>
				<div class="wx-624 flex-col flex-center_center bg-cover">
					<div class="wx-500 hx-400 bg-cover" style="background-image: url(https://i.ibb.co/g7bkTms/03.png)"></div>
				</div>
			</div>

			<div class="mxt-16 flex-row flex-between_center">
				<div class="wx-624 flex-col flex-center_center bg-cover">
					<div class="wx-500 hx-400 bg-cover" style="background-image: url(https://i.ibb.co/n8zVwRQ/04.png)"></div>
				</div>
				<div class="wx-624 flex-col flex-center_start">
					<h3 class="hero-bo pxt-14 pxb-14">Quyền lợi khi sử dụng thẻ VinID</h3>
					<div class="mxt-16">
						<div class="flex-row flex-start_center">
							<span class="icon-success-16px fsx-16 txt-color-37"></span>
							<span class="mxl-12 h3-bo">Mở thẻ miễn phí, dễ dàng</span>
						</div>
						<p class="mxt-8 h5-re">
							Đăng ký mở thẻ online và sử dụng thẻ trên Adayroi.com chỉ với 1 click chuột.
Đăng ký tại quầy Lễ tân hoặc quầy Dịch vụ Khách hàng tại các điểm giao dịch của Vingroup.
						</p>
					</div>

					<div class="mxt-16">
						<div class="flex-row flex-start_center">
							<span class="icon-success-16px fsx-16 txt-color-37"></span>
							<span class="mxl-12 h3-bo">Mở thẻ miễn phí, dễ dàng</span>
						</div>
						<p class="mxt-8 h5-re">
							Đăng ký mở thẻ online và sử dụng thẻ trên Adayroi.com chỉ với 1 click chuột.
Đăng ký tại quầy Lễ tân hoặc quầy Dịch vụ Khách hàng tại các điểm giao dịch của Vingroup.
						</p>
					</div>


					<div class="mxt-16">
						<div class="flex-row flex-start_center">
							<span class="icon-success-16px fsx-16 txt-color-37"></span>
							<span class="mxl-12 h3-bo">Mở thẻ miễn phí, dễ dàng</span>
						</div>
						<p class="mxt-8 h5-re">
							Đăng ký mở thẻ online và sử dụng thẻ trên Adayroi.com chỉ với 1 click chuột.
Đăng ký tại quầy Lễ tân hoặc quầy Dịch vụ Khách hàng tại các điểm giao dịch của Vingroup.
						</p>
					</div>


					<div class="mxt-16">
						<div class="flex-row flex-start_center">
							<span class="icon-success-16px fsx-16 txt-color-37"></span>
							<span class="mxl-12 h3-bo">Mở thẻ miễn phí, dễ dàng</span>
						</div>
						<p class="mxt-8 h5-re">
							Đăng ký mở thẻ online và sử dụng thẻ trên Adayroi.com chỉ với 1 click chuột.
Đăng ký tại quầy Lễ tân hoặc quầy Dịch vụ Khách hàng tại các điểm giao dịch của Vingroup.
						</p>
					</div>




					<button class="mxt-32 wx-328 hx-40 radius-4_4_4_4 bg-5 flex-col flex-center_center h5-bo txt-color-67">
						Đăng ký thẻ VinID
					</button>									

				</div>
			</div>


			<div class="mxt-16 bg-67">
				<h3 class="h4-md pxt-12 pxb-12 pxl-12">Sản phẩm & Dịch vụ đã xem</h3>
				<ul class="flex-row flex-start_center pxl-16 pxr-16 pxb-16">
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
					<li>
						<div class="wx-92 hx-92 bg-cover mxr-8" style="background-image: url(https://i.ibb.co/8K8vh8y/Normal.png);"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END VINID AND CARD -->