<div class="mxt-1 bg-67 pxt-12 pxb-12 ">
  <div class="wx-992 hx-48 bg-22 mx-auto flex-row flex-start_center ">
    <span class="txt-color-16 h5-re mxl-15 ">Lọc nhanh</span>
    <ul class="mxl-40 flex-row flex-start_center ">
      <li>
        <div class="flex-row flex-start_center p-rel effect-4 hx-32 ">
          <input type="checkbox" id="checkbox1_id1" name="vehicle1" value="Bike" class="cursor-pointer p-abs leftx-10 topx-1 zindex-2 ">
          <span class="icon-checkbox-24px txt-color-19 mxl-12 e-41  "></span>
          <span class="icon-check-16px txt-color-67 e-42 p-abs leftx-12 "></span>
          <label for="checkbox1_id1" class="h6-re txt-color-71 mxl-8 cursor-pointer ">Có giảm giá</label>
        </div> 
      </li>
      <li>
        <div class="flex-row mxl-24 flex-start_center p-rel effect-4 hx-32 ">
          <input type="checkbox" id="checkbox1_id1" name="vehicle1" value="Bike" class="cursor-pointer p-abs leftx-10 topx-1 zindex-2 ">
          <span class="icon-checkbox-24px txt-color-19 mxl-12 e-41  "></span>
          <span class="icon-check-16px txt-color-67 e-42 p-abs leftx-12 "></span>
          <label for="checkbox1_id1" class="h6-re txt-color-71 mxl-8 cursor-pointer ">Có quà tặng</label>
        </div> 
      </li>
      <li>
        <div class="flex-row flex-start_center p-rel effect-4 hx-32 ">
          <input type="checkbox" id="checkbox1_id1" name="vehicle1" value="Bike" class="cursor-pointer p-abs leftx-10 topx-1 zindex-2 ">
          <span class="icon-checkbox-24px txt-color-19 mxl-12 e-41  "></span>
          <span class="icon-check-16px txt-color-67 e-42 p-abs leftx-12 "></span>
          <label for="checkbox1_id1" class="h6-re txt-color-71 mxl-8 cursor-pointer ">Tích điểm VinID</label>
        </div> 
      </li>
      <li>
        <div class="flex-row flex-start_center p-rel effect-4 hx-32 ">
          <input type="checkbox" id="checkbox1_id1" name="vehicle1" value="Bike" class="cursor-pointer p-abs leftx-10 topx-1 zindex-2 ">
          <span class="icon-checkbox-24px txt-color-19 mxl-12 e-41  "></span>
          <span class="icon-check-16px txt-color-67 e-42 p-abs leftx-12 "></span>
          <label for="checkbox1_id1" class="h6-re txt-color-71 mxl-8 cursor-pointer ">Trả góp</label>
        </div> 
      </li>
    </ul>
  </div>
  <div class="wx-992 hx-48 bg-22 mxt-12 mx-auto flex-row flex-between_center ">
    <div class="flex-row flex-start_center ">
      <span class="txt-color-16 h5-re mxl-15 ">Bộ lọc</span>
      <ul class="mxl-67 flex-row flex-start_center ">
        <li>
          <button class="radius-4_4_4_4 p-rel bg-67 border-1_solid_20 flex-row flex-start_center ">
            <span class="h6-re txt-color-71 pxt-6 pxb-6 pxl-16 pxr-36 ">Apple</span>
            <span class="icon-error-24px txt-color-17 p-abs fsx-24 cursor-pointer rightx-9 "></span>
          </button>
        </li>
        <li>
          <button class="radius-4_4_4_4 mxl-8 p-rel bg-67 border-1_solid_20 flex-row flex-start_center ">
            <span class="h6-re txt-color-71 pxt-6 pxb-6 pxl-16 pxr-36 ">4 sao trở nên</span>
            <span class="icon-error-24px txt-color-17 p-abs fsx-24 cursor-pointer rightx-9 "></span>
          </button>
        </li>
        <li>
          <button class="radius-4_4_4_4 mxl-8 p-rel bg-67 border-1_solid_20 flex-row flex-start_center ">
            <span class="h6-re txt-color-71 pxt-6 pxb-6 pxl-16 pxr-36 ">500.000 - 1.000.000.000đ</span>
            <span class="icon-error-24px txt-color-17 p-abs fsx-24 cursor-pointer rightx-9 "></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>