<div class="flex-row flex-end_center ">
	<span class="txt-color-16 h5-re ">Tìm thấy 1.843 sản phẩm</span>
	<div class="hx-32 mxl-16 radius-4_4_4_4 border-1_solid_19 flex-row flex-between_center  ">
		<button class="flex-col cursor-pointer flex-center_center ">
			<span class="icon-left-24px fsx-24 txt-color-17 "></span>
		</button>
		<input type="text" placeholder="0" class="hx-100pc h6-re text-align-center wx-73 border-l_1_solid_19 border-r_1_solid_19 ">
		<button class="flex-col cursor-pointer flex-center_center ">
			<span class="icon-right-24px fsx-24 txt-color-17 "></span>
		</button>
	</div>
</div>